.card {
    width: 100px;
    height: 150px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: white;

}

.card-back {
    background-image: url("../../images/adorable-animal-blur-406014.jpg");
    background-size: cover;
    background-position: center;
}

.card-front {
    background-color: red;
    height: 90px;
    width: 90px;
    margin: 30px 5px;
}